<app-search-container [mockdata]="mockdata"></app-search-container>
<div
  style="width:300px; position:fixed; right:0; bottom:0;display:flex;flex-direction: column;"
>Slice 1:
  <input [(ngModel)]="myNumber1" /> Slice 2:
  <input [(ngModel)]="myNumber2" />
</div>
<app-candlestick-chart
  [data]="preprocess(somedata2.slice(myNumber1, myNumber2))"
></app-candlestick-chart>
<app-candlestick-chart
  [data]="
    preprocess(somedata.slice(myNumber1,myNumber2))
  "
></app-candlestick-chart>
<app-candlestick-chart [data]="somedata"></app-candlestick-chart>

