:host {
  display: grid;
  grid: auto / 1fr 8fr 1fr;
}

.main {
  grid-column-start: 2;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 10px;
  overflow: auto;
}

.stock {
  background-color: palegreen;
  border-radius: 7px;
  border: 1px solid #e4e4e4;
}
