.search-result:hover {
  background-color: lightslategray;
}

/* width will not be applied, however it works if added as a style-attribute to element directly */
.search-result {
  outline: 1px dashed lightskyblue;
}

:host {
  padding: 20px;
  display: grid;

  grid-gap: 20px;
  place-content: center;
}

.mat-list-item-content {
  background-color: red;
}


#outer-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}
#outer-grid > div {
  background-color: limegreen;
  color: white;
  font-size: 4vw;
  padding: 8px;
}
#inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
#inner-grid > div {
  background: lightgreen;
  padding: 8px;
}
