<div>some content to fill the box</div>

<svg viewBox="0 0 4 4">
  <rect x="0" y="0" width="1" height="1" fill="blue"></rect>
  <rect x="1" y="0" width="1" height="1" fill="red"></rect>
  <rect x="0" y="1" width="1" height="1" fill="green"></rect>
  <rect x="1" y="1" width="1" height="1" fill="purple"></rect>
  <rect x="2" y="2" width="1" height="1" fill="blue"></rect>
  <rect x="3" y="2" width="1" height="1" fill="red"></rect>
  <rect x="2" y="3" width="1" height="1" fill="green"></rect>
  <rect x="3" y="3" width="1" height="1" fill="purple"></rect>
</svg>
